In [1]:
import pandas as pd
x=pd.read_csv("C:/Users/wel_home/Desktop/poori/STUDENT DETAILS.csv")
print(x)

    S.NO           NAME  ROLL NO BRANCH  GRADE  CONTACT NO  AGE      ADDRESS
0      1  POORNIMAREDDY      514    CSE     73  7989543040   21  YERRAGUNTLA
1      2        SWARUPA      511    CSE     76  9656402534   20      NELLORE
2      3    RADHA REDDY      424    ECE     80  6300142525   20      NELLORE
3      4         PAVANI      503    CSE     74  7652456810   22      NELLORE
4      5        LAKSHMI      504    CSE     69  9852631472   20    UDAYAGIRI
5      6         JYOTHI      505    CSE     75  9645824327   20    UDAYAGIRI
6      7        SHABANA      506    CSE     80  6321459658   20    UDAYAGIRI
7      8        SHABANA      507    CSE     69  6300025462   20    UDAYAGIRI
8      9       POOJITHA      509    CSE     74  9625483012   22      NELLORE
9     10       SHAILAJA      510    CSE     71  8523647892   20      NELLORE
10     1         GEETHA      515    CSE     72  8500431077   20    PRODDUTUR
11    12        LAVANYA      517    CSE     75  6300452869   20      NELLORE
12    13        BHAVANA      519    CSE     79  6325419856   20   NUDAYAGIRI
13    14         SUSHMA      520    CSE     69  9162035478   20      NELLORE
14    15          SUDHA      413    ECE     85  6300125469   20       KADAPA
15    16    SAIPOOJITHA      416    ECE     75  8956784123   21       BADVEL
16    17       POOJITHA      423    ECE     70  9858654236   22     S.RPURAM
17    18          YASIN      418    ECE     70  9856234785   20       BADVEL
18    19           MAHA      415    ECE     70  6523147893   20       MATTAM
19    20          BUJJI      411    ECE     70  7896325124   20      CHAPADU

In [2]:
a,b=[int(x) for x in input("enter 2 numbers").split()]
print("the sum:",a+b)

enter 2 numbers10 20
the sum: 30

In [3]:
print("the product:",a*b)

the product: 200

In [4]:
a,b=[float(x) for x in input("enter 2 float values").split()]
print("the sum:",a+b)

enter 2 float values10.5 10.5
the sum: 21.0

In [5]:
x=eval("10+20*30")
print(x)

610