In [1]:
s1='poornimareddy'
s2='gangireddy'
s3=s1+' '+s2
print(s3)

poornimareddy gangireddy

In [2]:
s1='poornimareddy'
s2='gangireddy'
s3=s1+' '+s2
print(s3)
count =0
for i in s3:
    if i=="a":
        count+=1
print(count)

poornimareddy gangireddy
2

In [3]:
s1='a'
s2='A'
if s1>s2:
    print('true')
else:
    print('false')

true

In [4]:
ord('A')

65

In [5]:
ord('p')

112

In [6]:
s1='poornimareddy'
s2='gangireddy'
s3=s1+' '+s2
print(s3)
count =0
for i in s3:
    if i=="a":
        count+=1
        print(count)

poornimareddy gangireddy
1
2

In [7]:
s1='poornimareddy'
print(s1)

poornimareddy

In [8]:
len(s1)

13

In [9]:
print(s1[2:])

ornimareddy

In [10]:
print(s1[::2])

ponmrdy

In [18]:
s=input("enter some string")
s1=s.split()
for s2 in s1:
    s2=s1[ ::-1]
    output=' '.join(s2)
    
print(output)

enter some stringlove u daddy
daddy u love

In [6]:
a=4
a&=5
print(a)

4

In [21]:
x=60 if 50<20 else 40
print(x)

40

In [27]:
a,b=10,20
x=30 if a<b else 40
print(b,a)

20 10

a,b=b,a=10
x=30 if a<b else 20

In [28]:
a=input('enter first number')
b=input('enter second number')
a,b=b,a
print(a,b)

enter first number10
enter second number20
20 10

In [35]:
a=int(input('enter the first number:'))
b=int(input('enter the second number:'))
min=a if a<b else b
print('minimum value',min)

enter the first number:10
enter the second number:20
minimum value 10

In [43]:
a=int(input('enter the first number'))
b=int(input('enter the second number'))
if (a>b):
    print('true')
else:    
    print('false')

enter the first number20
enter the second number30
false

In [47]:
x='mounika'
y='sandhya'
z=x+y
print(z)

mounikasandhya

NameError: name 'numbers' is not defined

In [55]:
tu=(23,24,25)
t=list(tu)
t[0]=12
tu=tuple(t)
print(tu)

(12, 24, 25)

In [75]:
n=2
def var_lan(n):
    var_lan()
print(n)

2