In [1]:
d=dict()
print(d)

{}

In [ ]:
# DICTIONARIES

In [2]:
d['1 rupee coins']=10
d['2 rupee coins']=5
d['3 rupee coins']=6
d['10 rupee coins']=12
print(d)

{'1 rupee coins': 10, '2 rupee coins': 5, '3 rupee coins': 6, '10 rupee coins': 12}

In [3]:
d={'one':1,'two':2,'three':3,'four':4}
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [4]:
print(len(d))

4

In [5]:
d={'apples':2,'banana':3,'carrots':2}
print(d.get("oranges",0))

0

In [6]:
for fruit in d:
    print(fruit)

apples
banana
carrots

In [7]:
a={'name':'poornima','age':21,'work':'it','year':2020}

In [8]:
a

{'name': 'poornima', 'age': 21, 'work': 'it', 'year': 2020}

In [9]:
a.values()

dict_values(['poornima', 21, 'it', 2020])

In [10]:
a.get('age')

21

In [11]:
a.items()

dict_items([('name', 'poornima'), ('age', 21), ('work', 'it'), ('year', 2020)])

In [12]:
a.keys()

dict_keys(['name', 'age', 'work', 'year'])

In [13]:
a.pop('year')

2020

In [14]:
a.popitem()

('work', 'it')

In [16]:
a1={'work':'cs'}
a.update(a1)
a

{'name': 'poornima', 'age': 21, 'work': 'cs'}

In [17]:
# TUPLES

In [19]:
t=(12,23,'d',[1,2,3],'false')
t

(12, 23, 'd', [1, 2, 3], 'false')

In [20]:
t=(1,)
type(t)

tuple

In [21]:
t=tuple()
print(t)

()

In [23]:
t1=tuple("1,2,3,4,5")
t2=tuple([1,2,3,4,5])
t3=tuple((1,2,3,4,5))
t1

('1', ',', '2', ',', '3', ',', '4', ',', '5')

In [24]:
t2

(1, 2, 3, 4, 5)

In [25]:
t3

(1, 2, 3, 4, 5)

In [28]:
t=(1,2,3,4,5,54,34,2,5)
l=len(t)
print(t[l-2])

2

In [29]:
t2=t[2:7]
t2

(3, 4, 5, 54, 34)

In [30]:
l=[(0,23,34),(2,34,23),(1,34,23)]
l.sort()
l

[(0, 23, 34), (1, 34, 23), (2, 34, 23)]

In [31]:
print((0,1,2)<(0,3))

True

In [33]:
l.sort(reverse=True)
l

[(2, 34, 23), (1, 34, 23), (0, 23, 34)]

In [34]:
l=[1,2,3]
(a,b,c)=l
l

[1, 2, 3]

In [35]:
d={"one":1,"two":2,"three":3}
k=d.items()
print(k)

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [46]:
l1=[1,2,3]
l1.insert(3,6)
print(l1)

[1, 2, 3, 6]

In [47]:
l2=['dev','yadav']
l2.append('28')
l2

['dev', 'yadav', '28']

In [48]:
l3 = [l1[i]+l2[i] for i in range (len(l1)-1)]
l3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [58]:
a=('name','roll no','year','favactor','favmovie')
b=('poornima','514','2020','mahesh','maharshi')
d={}
for i in range(len(t1)):
    p={t1[1]:t2[1]}
    d.update(p)
print(d)

{',': 4}

In [62]:
a=('name','roll no','year','favactor','favmovie')
b=('poornima','514','2020','mahesh','maharshi')
d = {}
for index, value in enumerate(b):
    d[value] = a[index]
print(d)

{'poornima': 'name', '514': 'roll no', '2020': 'year', 'mahesh': 'favactor', 'maharshi': 'favmovie'}

In [76]:
a=int(input('enter the year'))
if a<2016:
    print('old fan')
elif 2016<a<2019:
    print('medium fan')
else:
    print('latest movie fan')

enter the year2019
latest movie fan

In [80]:
num=int(input("enter the number of rows"))
for i in range(0,num,1):
    for j in range(0,i):
        print('*',end=" ")
    print()

enter the number of rows6

*
* *
* * *
* * * *
* * * * *

In [83]:
t1=('poornima','16L41A0514','IV Year','prathibha','maharshi')
t2=(1,3,4,5,6)
res=dict(zip(t1,t2))
print(res)

{'poornima': 1, '16L41A0514': 3, 'IV Year': 4, 'prathibha': 5, 'maharshi': 6}

In [90]:

dict = { 'Geeks': 10, 'for': 12, 'Geek': 31 } 
list = list(dict.items())  
print(list)

TypeError: 'list' object is not callable